header a{
    color:black;
    font-size: 6em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    text-decoration: none;
}

footer {
    margin-top: auto;
}

body {
    min-height: 100vh;
}

.login-box {
    width:500px;
    height:80vh;
    max-width: fit-content;
    margin-top:10vh;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: left;
    width:auto;
    height: 30px;
    border-radius: 5px;
}
#wrongPassword {
    width:auto;
    height:13px;
    color:red;
    font-size: 12px;
    display: none;
}
button {
    height:30px;
    width: auto;
    align-items: center;
    background-color: black;
    color:white;
    border-radius:4px;
    border: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor:pointer;
}

